body{
    font-family: 'Roboto Slab', serif;
    background: #E5E5E5;
}

header{
    display: block;
    width: 100%;
    height: 880px;
    background: url("../../../img/bg.png") center no-repeat;
    background-size: cover;
}

.logo{
    height: auto;
    width: auto;
}

.search{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.search button{
    border: none;
    background: transparent;
}

.search::after{
    display: block;
    position: relative;
    content: "";
    width: 350px;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 50px;
}

.search input{
    border: none;
    background: transparent;
    margin-right: 5px;
}

.search input:focus{
    outline: none;
}

.search button:focus{
    outline: none;
}

.header-content{
    display: block;
    width: 100%;
    max-width: 1127px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-nav-list{
    display: flex;
    width: auto;
    text-align: right;
}

.header-nav-item{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 15px;
    list-style-type: none;
}


.header-nav-item a{
    color: #324950;
    text-decoration: none;
}

.header-nav-list li a:hover{
    color: #868686;
}

.toggleMenu{
    display: none;
}

.header-center{
    display: flex;
    height: 620px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-center h1{
    color: #735440;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
}

.header-center button{
    background: #57984C;
    color: #fff;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 25px;
    border: 0;
}

.header-center button:hover{
    box-shadow: 1px 1px 2px 2px #8f8f8f;
}

.products{
    display: block;
    background: #fff;
    padding: 44px 9%;
    margin: 0 auto;
    margin-bottom: 65px;
}

.products-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0;
    margin: 0;
}

.products-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    list-style-type: none;
}

.products-list-item p{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;

    margin: 0;
    margin-top: 22px;
}

.products-list-item img{
    width: 60px;
    height: 60px;
}

.about-container{
    display: block;
    align-items: center;
    width: 100%;
    background-image: url("../../../img/Фон2.png");
    background-position-x: center;
    background-repeat: no-repeat;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1055px;
    margin: 0 auto;
}

.about-content img{
    filter: drop-shadow(-10px 10px 15px #9b9b9b);
}

.about-content h2{
    margin-top: 120px;
}

.about-content p{
    font-size: 20px;
    font-weight: 400;
    color: #324950;
}

.mission-img{

}

.mission-play-img{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 40%;
}

.vision-img{
    padding-left: 70px
}

.vision-img img{
    width: 540px;
    height: 500px;  
}

.content-vision{
    margin-bottom: 100px;
}

.content-vision-text{
    padding-right: 30px;
        font-size: 20px;
    font-weight: 400;
    color: #324950;
}

.content-mission-text{
    padding-left: 120px;
    font-size: 20px;
    font-weight: 400;
    color: #324950;
}

.about-subtitle{
    font-size: 64px;
    font-weight: 700;
}

.about-subtitle::after{
    display: block;
    position: relative;

    content: "\2716\2716\2716\2716\2716";
    
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: bolder;
    color: #57984C;

    margin: 25px 0 30px 0;
}

.activities-container{
    display: block;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    background: #EDEDED;
}

.activities-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1055px;
    margin: 0 auto;
    padding: 70px 0 90px 0;
}

.activities-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.activities-content h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 0;
}

.activities-list-item{
    text-align: center;
    justify-content: center;
}

#seeds-photo-1{
    width: 285px;
    height: 205px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    background-image: url("../../../img/Рис_4.png");
}

#seeds-photo-2{
    width: 205px;
    height: 205px;
    background-position-y: -50px;
    background-position-x: -10px;
    margin: 0 auto;

    background-image: url("../../../img/Рис_5.png");
}

#seeds-photo-3{
    width: 275px;
    height: 205px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    background-image: url("../../../img/Рис_6.png");
}

.activities-subtitle{
    color: #57984C;
    font-size: 20px;
    font-weight: 700;
}

.activities-list p{
    font-size: 17px;
    font-weight: 400;
    color: #324950;
    padding: 5px;
}

.activities-content h2::after{
    display: flex;
    position: relative;

    content: "\2716\2716\2716\2716\2716";
    
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: bolder;
    color: #57984C;
    text-align: center;
    margin-top: 25px;
}

.activities-list h3::after{
    display: flex;
    
    content: "";
    width: 183px;
    border-bottom: 1px solid #57984C;

    margin: 25px auto 0px auto;

}

.footer{
    display: block;
    width: 100%;
    background: #2D3F45;
}

.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-top{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1055px;
    height: 76px;
}

.footer-nav-list{
    display: flex;
    justify-content: space-between;
}

.footer-nav-item a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.socials-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socials-list-item{
    display: flex;
    width: 31px;
    height: 31px;
    margin-left: 13.8px;
}


.footer-copyrighted{
    background: #324950;
    padding: 13px;
    width: 100%;
}

.footer-copyrighted h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #B9B9B9;

    margin: 0;
}



